.contact-container {
  padding: 3rem 1rem;
  background: linear-gradient(135deg,#faf9f9, #b3e5fc96 , #faf9f9);
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  max-width: 500px;
  margin: 50px auto;
  border: 1px solid #0e0101;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contact-container h2 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: #333;
}

.contact-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.contact-container input,
.contact-container textarea {
  width: 100%;
  max-width: 400px;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid #0e0101;
  border-radius: 8px;
  font-size: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.555);
  transition: border 0.3s, box-shadow 0.3s;
}

.contact-container input:focus,
.contact-container textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
  outline: none;
}

.contact-container button {
  padding: 0.75rem 1.5rem;
  background-color: #01080f;
  color: rgba(255, 255, 255, 0.767);
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.contact-container button:hover {
  background-color: #0057b388;
  transform: scale(1.05);
}

.sent-confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #28a745;
  animation: fadeInScale 0.4s ease-in-out;
  font-size: 1.5rem;
  height: 200px;
}

.sent-icon {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}