.hero {
  min-height: 50vh;
  background: #eaf6f9;
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
  position: relative;
}

/* Top Nav */
.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Hamburger */
.menu-icon {
  font-size: 24px;
  cursor: pointer;
  color: #333;
  transition: 0.3s ease;
}

.menu-icon:hover {
  color: #0077b6;
}

/* Social Icons */
.nav-icons {
  display: flex;
  gap: 10px;
}

.nav-icons a {
  color: #333;
  font-size: 20px;
  transition: 0.3s ease;
}

.nav-icons a:hover {
  color: #0077b6;
  transform: scale(1.2);
}

/* Dropdown Menu - Clean Version */
.dropdown-menu {
  position: absolute;
  top: 70px;
  left: 50px;
  background: #fdf6ec;   /* soft creamy */
  padding: 12px 20px;
  border-radius: 25px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  display: flex;
  gap: 25px;
  align-items: center;
  transition: 0.3s ease;
  z-index: 100;
}

.dropdown-menu p {
  margin: 0;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  transition: 0.3s ease;
}

.dropdown-menu p:hover {
  color: #0077b6;
}


/* Content */
.hero-content {
  margin-top: 50px;
}

.hero-text h1 {
  font-size: 42px;
  line-height: 1.2;
  color: #333;
}

.highlight {
  color: #0077b6;
  font-weight: bold;
}

.hero-text p {
  margin-top: 20px;
  color: #555;
  font-size: 16px;
  max-width: 500px;
}

/* Bottom Right Contact Button */
 .contact-btn 
 { 
  position: absolute; 
  bottom: 30px; 
  right: 40px; 
  padding: 12px 26px; 
  background: #000407; 
  color: white; 
  border: none; 
  border-radius: 30px; 
  cursor: pointer; 
  transition: 0.3s ease; 
} 

.contact-btn:hover 
{
   background: #8dbd0c; 
   transform: translateY(-3px); 
   box-shadow: 0 8px 20px rgba(0, 119, 182, 0.3);
}

/* Responsive */
@media (max-width: 768px) {
  .hero {
    padding: 25px;
  }

  .hero-text h1 {
    font-size: 28px;
  }

  .dropdown-menu {
    flex-direction: column;
    left: 0px;
  }

  .contact-btn 
  { 
    position: static; 
    margin-top: 30px; 
    align-self: flex-start; }
}
