.projects {
  padding: 0%;
  background: #fcfcfc;
  text-align: center;
}

.projects h2 {
  font-size:36px;
  margin-bottom: 3rem;
  color: #111;
}

/* Wrapper */
.carousel-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

/* Horizontal Scroll */
.carousel {
  display: flex;
  gap: 2rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 1rem 0;
  scroll-behavior: smooth;
}

.carousel::-webkit-scrollbar {
  display: none;
}

/* Card */
.card {
  flex: 0 0 280px;   /* FIXED WIDTH */
  height: 250px;
  background: linear-gradient(
    135deg,
    #ffffff 0%,
    #e0f7ff 40%,
    #cceeff 70%,
    #b3e5fc 100%
  );
  color: #111;
  border-radius: 20px;
  padding: 1.8rem;
  scroll-snap-align: center;
  text-align: left;
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Hover */
.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.25);
}

.card h3 {
  font-size: 1.1rem;
  margin-bottom: 0.8rem;
}

.card p {
  font-size: 0.9rem;
  line-height: 1.5;
}

.card span {
  font-weight: 600;
  margin-top: 1rem;
  color: #0077b6;
}

/* Mobile */
@media (max-width: 768px) {
  .projects h2 {
    font-size: 2rem;
  }

  .card {
    flex: 0 0 240px;
    height: 300px;
  }
}

